* {
    box-sizing: border-box;
}
body{
    font-family: arial;
    padding: 10px;
    background-color: #273747;
	font-family: IRANYekanWeb;
}
.move{
	padding-top: 6px;
	color: white;
	background-color:#0C141D ;
	border-radius: 8px;
	marquee direction: left;
	

}
.links{
	color: #0C141D;
	background-color: #aaa;
	border-radius: 5px;
	transition: 1s;
	border:solid 1px #0C141D;
	padding: 0px 50px 0px 50px;
}
.links:hover{
	color:#0C141D;
	background-color: aquamarine;
     box-shadow: 0px 0px 40px 10px aquamarine; 
	 border:solid 1px aquamarine        
}
.h{
	color:white;
	transition: 1s;
}
.h:hover{
box-shadow: 1px 1px 17px 20px #0C141D ;
background-color: #272c31;
}
.shortnew{
	 margin-top:  16px;
	text-align: center;
    background-color:#0C141D;
	border-radius: 20px;
	color:white;
	box-shadow: 1px 1px 1px;
	
}
.header {
    padding: 30px;
   margin-bottom: 20px;
    text-align: center;
    background: #0C141D;
	color:white;
	border-radius: 20px;
}
.leftcol {
    float: left;
    width: 70%;
}
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
	box-shadow: 1px 1px 2px #273747;
	border:1px #f1f1f1 solid;
	border-radius: 8px;
}
.card {
    background-color: #0C141D;
    padding: 20px;
    margin-top: 20px;
	border-radius: 20px;
	color: white;
	box-shadow: 1px 1px 2px 
}
.rightcol {
	float: left;
    width: 30%;
    background-color: #273747;
    padding-left: 20px;
}
.row::after {
    content: "";
    clear: both;
    display: table;

}
@media screen and (max-width:980px) {
    .leftcol, .rightcol {
        width: 100%;
        padding: 0;
    }
}
	@media screen and (max-width:745px){
		.menu1{
			padding-left: 30;
		}
	}   
		.menu{
			background-color: #494949;
			display: inline-block;
			cursor: pointer;
			position: relative;
			transition: 0.3s;
			margin:0  20px; 
			color: #f1f1f1;
			padding-top: 0px;
		}
		.submenu{
			background-color: #273747;
			border: 2px solid #273747;
			border-radius: 4px;
			font-size: 14px;
			position: absolute;
			margin: 8px 0 0 0;
			text-align: center;
			visibility: hidden;
			opacity: 0;
			transition: 0.3s;
			color: white;
		}
		.menu:hover .submenu {
			visibility: visible;
			opacity: 1;
			transform: scale(1.1)
		}
		.menu:hover{
			transform: scale(1.2);
			color:#B9B9B9;
		}
		.submenu a:hover{
			transform: scale(1.4);
			color: #f1f1f1;
		}
		.menu .submenu::after{
			content: "";
			position: absolute;
			bottom: 102.6%;
			left: 30%;
			border: solid;
			border-color: transparent transparent white transparent ;
		}
		
		a{
			text-decoration: none;
			transition: 0.3s;
			color: white;
			font-size: 12px
		}
.menu1{
			background-color: #494949;
			display: inline-block;
			cursor: pointer;
			position: relative;
			transition: 0.3s;
			margin:0  20px; 
			color: #f1f1f1;
			padding-top: 0px;
	        margin-left: 510px;
		}
